{%extends "base.html"%}
{%load crispy_forms_tags%}

{% block title %}¿Olvidaste tu contraseña?{% endblock title %}

{% block content %}
    <h2>¿Olvidaste tu contraseña?</h2>
    <p>Ingrese su dirección de correo electrónico a continuación y le enviaremos instrucciones por correo electrónico para configurar una nueva</p>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-success" type="submit"  value= "¡Envíame instrucciones!">
       
    </form>
{% endblock content %}